@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 15, 23, 42;
    --secondary: 96, 167, 226;
    --accent: 151, 187, 243;
    --neutral: 250, 250, 250;
    --bkg-start: 240, 240, 235;
    --bkg-end: 209, 218, 219;
  }

  .dark {
    --primary: 250, 250, 250;
    --secondary: 96, 167, 226;
    --accent: 151, 187, 243;
    --neutral: 2, 6, 23;
    --bkg-start: 15, 23, 42;
    --bkg-end: 51, 65, 85;
  }
}


body {
  color: rgb(var(--primary));
  background: linear-gradient(135deg, rgb(var(--bkg-start)), rgb(var(--bkg-end)));
  font-size: 14px;
}

.title {
  @apply font-medium text-3xl mb-2 drop-shadow-lg;
}

.subtitle {
  @apply font-medium text-xl text-secondary mb-1;
}

.small {
  @apply font-light text-sm
}

.container {
  width: 80%;
  max-width: 1366px;
  margin: 0 auto;
}

/* styles/globals.css */
.toast-container {
  /* Utilisez les classes Tailwind CSS ici si nécessaire */
  @apply z-50;
}

.toast {
  @apply bg-white text-gray-800 border border-gray-300 rounded-md shadow-lg p-4;
}

.toast-body {
  @apply flex items-center;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(var(--secondary));
  }
}

.typing {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: .10em solid rgb(var(--secondary));
  animation: blink-caret 1s step-end infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}